.git
.github
vendor
node_modules
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
database/*.sqlite
*.md
temporary screenshots
